body{
    background-color: rgb(20, 0, 26);
    color: aliceblue;
    text-align: center;
}
h1{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aliceblue;
    text-shadow: rgb(91, 0, 177) 1px 1px;
}
h2{
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aliceblue;
    text-shadow: rgb(91, 0, 177) 1px 1px;
}
h3{
    font-size:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aliceblue;
    text-shadow: rgb(91, 0, 177) 1px 1px;
}